*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color:#222;
}

p{
    line-height: 30px;
}

header{
    background-position: center;
    background-size: cover;
}

.highlighted{
    font-weight: 500;
    color: steelblue;
}

img{
    vertical-align: middle;
    border: 0;
}

.business_home1 .about_us,
.business_home2 .about_us{
    padding-top: 67px;
    padding-bottom: 120px;
}
.about_us_title h1{
    font-family: 'roboto',sans-serif;
    font-weight: 300;
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 70px;
}
.about_us_title h1::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #1cb9c8;
    bottom: -20px;
}
.about_us_content {
    padding-bottom: 16px;
}
.about_us_btn .business_btn{
    padding: 0 34px;
}
.about_us_btn .business_btn:hover{
    color: steelblue;
    border-color: steelblue;
}

.about_us_image{
    position: relative !important;
}

.about_us_image img{
    width: 100% !important;
}

.video{
    color: steelblue;
}


.about_us_image:before,
.about_us_image:after{
    content: "";
    position: absolute;
    width: calc(100% - 159px);
    height: 5px;
    background: steelblue;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.about_us_image:before{
    top: 0;
}
.about_us_image:after{

}

.navbar{
    padding: -1.7rem;

}

.navbar-nav li {
    padding-right: 20px;
}
.nav-link{
    font-size: 14px !important;
    color: #fff !important;
    line-height: 70px !important;
    text-transform: uppercase;
    display: block !important;
    padding: 0 18px !important;
    font-weight: 600 !important;
    position: relative !important;
    font-family: "Roboto",sans-serif !important;
    font-weight: 500 !important;
}

.bg-company-red {
    color: black;
}

.abel{
    background-color: #4682B4 !important;
    color: #4682B4
}

.dropdownhover:hover li{
    animation: load 1s forwards;
    display:  block;
}



/*Corousel */
 .corousel-inner img{
   width: 100%;
   height: 100%;
   animation: 1s fadein 0.5s forwards;
   opacity: 0;
 }
.corousel-inner img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}
.corousel-caption {
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}
.corousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}
.corousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}
/*Corousel Ends */

.copy{
  width: 70%;
  margin-left: 15%;
}


.h3{
  margin: 0 500px;
}

h3:after{
  width: 130px;
  height: 2px;
  background-color: steelblue;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 20px;
}

.features h3{
  margin-top: 60px;
  margin-bottom: 30px;
}

h5{
    line-height: 30px;
    font-size:  medium;
}
h6{
    font-size: 20px;
}

.features h6 {
    margin-top: 30px;
}



.arranging{
  text-align: justify;

}

.social {
  list-style-type: none;
  text-align: center;
}
.social li {
  display: inline;
}
.social i {
  font-size: 270%;
  margin: 1% 5% 7% 4%;
  color: #2c2c2c;
}
.social i:hover {
  color: #606060;
}

footer {
    background-color: steelblue;
    color: white;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.pull-right {
    float: right!important;
}

.footer{
    background-size: cover;
    position: relative;
    background: url(../img/aee.jpg) fixed;
}
.footer:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(28,185,200,0.9);
}
.about_us_wrapper {
    padding-right: 50px;
}
.footer_about_us {
    margin-right: 50px;
}
.footer_about_us p{
    color: #eee;
    padding-top: 29px;
    padding-bottom: 20px;
}


.footer_links ul li a{
	line-height: 32px;
	color: #f1f1f1;
	display:inline-block;
	text-transform: capitalize;
	font-weight: 400;
}
.footer_links ul li a:hover{
	color: #188a6d ;
}
.footer_links.social{
	width: 100%;
}
.footer_links.social ul li a p {
 	display: inline-block;
 	color: #eee;
 	font-size: 12px;
 	font-weight: 400;
}
.insta_post ul li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 2px;
	position: relative;
}
.insta_post ul li a{
	position: relative;
	display: block;
}
.insta_post ul li a:before{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(28,185,200,0.9);
	opacity: 0;
}
.insta_post ul li a:hover:before{
	opacity: 1;
}
.insta_post ul li a span{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	color: #f1f1f1;
	opacity: 0;
}
.insta_post ul li a:hover span{
	opacity: 1;
}
.footer_wrapper{
	border-bottom: 1px solid #188a6d ;
}
.tiny_footer{
	padding: 20px 0;
  background: steelblue;
}
.tiny_footer p{
	color: #eee;
	margin: 0;
}
.tiny_footer p a{
	color: #eee;
}
.footer_text{
	float: left;
}
.footer_text a:hover{
	color: #1cb9c8;
}
.footer_social{
	float: right;
}
.footer_social ul li{
	display: inline-block;
	margin-right: 10px;
}
.footer_social ul li a{
	color: #eee;
	font-size: 14px;
	line-height: 24px;
}
.footer_social ul li a:hover{
	color: #1cb9c8;
}





