*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color:#222;
}

p{
    line-height: 30px;
}

header{
    background-position: center;
    background-size: cover;
}

.highlighted{
    font-weight: 500;
    color: steelblue;
}

img{
    vertical-align: middle;
    border: 0;
}

.business_home1 .about_us,
.business_home2 .about_us{
    padding-top: 67px;
    padding-bottom: 120px;
}
.about_us_title h1{
    font-family: 'roboto',sans-serif;
    font-weight: 300;
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 70px;
}
.about_us_title h1::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #1cb9c8;
    bottom: -20px;
}
.about_us_content {
    padding-bottom: 16px;
}
.about_us_btn .business_btn{
    padding: 0 34px;
}
.about_us_btn .business_btn:hover{
    color: steelblue;
    border-color: steelblue;
}

.about_us_image{
    position: relative !important;
}

.about_us_image img{
    width: 100% !important;
}

.video{
    color: steelblue;
}


.about_us_image:before,
.about_us_image:after{
    content: "";
    position: absolute;
    width: calc(100% - 159px);
    height: 5px;
    background: steelblue;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.about_us_image:before{
    top: 0;
}
.about_us_image:after{

}





.ozil{
    border: 20px;
    border-style: solid;
    border-color: #1c7430;
}

.navbar{
    padding: -1.7rem;

}

.navbar-nav li {
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;

}

.bg-company-red {
    color: black;
}

.abel{
    background-color: steelblue !important;
    color: #4682B4
}

.dropdownhover:hover li{
    animation: load 1s forwards;
    display:  block;
}



/*Corousel */
 .corousel-inner img{
   width: 100%;
   height: 100%;
   animation: 1s fadein 0.5s forwards;
   opacity: 0;
 }
.corousel-inner img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}
.corousel-caption {
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}
.corousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}
.corousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}
/*Corousel Ends */

.copy{
  width: 70%;
  margin-left: 15%;
}


.h3{
  margin: 0 500px;
}

h3:after{
  width: 130px;
  height: 2px;
  background-color: steelblue;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 20px;
}

.features h3{
  margin-top: 60px;
  margin-bottom: 30px;
}

h5{
    line-height: 30px;
    font-size:  medium;
}
h6{
    font-size: 20px;
}

.features h6 {
    margin-top: 30px;
}



.arranging{
  text-align: justify;

}

.social {
  list-style-type: none;
  text-align: center;
}
.social li {
  display: inline;
}
.social i {
  font-size: 270%;
  margin: 1% 5% 7% 4%;
  color: #2c2c2c;
}
.social i:hover {
  color: #606060;
}

footer {
    background-color: steelblue;
    color: white;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}



.footer{
    background-image: url(../images/aee.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.footer:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(27,41,50,0.95);
}
.about_us_wrapper {
    padding-right: 50px;
}
.footer_about_us {
    margin-right: 50px;
}
.footer_about_us p{
    color: #eee;
    padding-top: 29px;
    padding-bottom: 20px;
}









@keyframes load{
    0%{
        transform: translateX(25px)
    }
    100%{
        opacity:  1;
        transform: translateX(0px);
        box-shadow: 0px 0px 10px black;
    }

}


